# You should replace this variable with your value
# Finally you need to rename this file to secrets.vars

export SHARED_API_SECRET="mysecret"

export SHARED_INTERNAL_SECRET="myinternalsecret"

export SHARED_BEACON_SECRET="mybeaconsecret"

export GCP_PUBSUB_TOPIC="ccu-heartbeat"
